<ion-view>
  <ion-nav-buttons side="primary">
    <button class="button" ng-click="doSomething()">
      I'm a button on the primary of the navbar!
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="card">

      <div class="item item-avatar">
        <img src="{{ev.cover.source}}">
        <h2>{{ev.name}}</h2>
        <p><i class="icon ion-location"></i><span>{{::ev.location && ev.venue.street ? ev.location + ', ' + ev.venue.street : ''}}</span></p>
        <p><i class="icon ion-clock"></i><span>{{ev.start_time | amDateFormat:"LT"}}</span></p>
         <button class="icon ion-social-whatsapp" ng-click="$rootScope.Share('wa', 'message', 'image', 'link')"></button>
         <button class="icon ion-social-facebook" ng-click="$rootScope.Share('fb', 'message', 'image', 'link')"></button>
         <button class="icon ion-android-share" ng-click="$rootScope.Share('', 'message', 'image', 'link')"></button>
      </div>

      <div class="item item-body">

        <img class="full-image" src="{{ev.pic_cover.source}}">
        <p ng-bind-html="ev.description"></p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-android-share"></i>
          Share
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
